@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.grey-qo {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* shared styles */
.display-flex{
    display: flex;
}
.color-primary{
    color: rgb(230, 83, 60);
}
.btn-primary{
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
}
/* title color */
.white{
    color: rgb(255, 255, 255);
}
/* description-color */
.light-gray{
   color: rgba(255, 255, 255, 0.5);
}

/* header related styles */
body{
    width: 1440px;
    background: rgb(0, 0, 0);
}
header{
    height: 715px;
}
.navbar{
    width: 1060px;
    margin: 57px 190px;
    justify-content: space-between;
    align-items: center;

}
.nav-Buttons{
    list-style:  none;
    /* margin-right: 30px; */
}
.nav-Buttons{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
nav button{
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: 'inter';
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-between;
}
.Btn-Home{
    margin-left: 10px;
    background-color: rgb(230, 83, 60);
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    margin: 0 10px;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}
/* .hamburger{
    display: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 30px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}  */
.banner-container{
    margin-left: 190px;
    gap: 87px;
}
.banner-info{
    width: 600px;
}

.banner-title{
    font-weight: 900;
    font-size: 4.8rem;
    color: rgb(255, 255, 255);
    margin-top: 96px;
    margin-bottom: auto;
}
.banner-description{
    margin-top: 28px;
    font-weight: 400;
    font-size: 1rem;
    
}
.shape{
    font-size: 7rem;
}
.banner-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 14px;
}
.feature-badge-500{
    position: absolute;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    /* text-align: center; */
    margin-left: -100px;
    margin-top: 160px;
}
.feature-badge-three{
    position: absolute;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    text-align: center;
    margin-left: -420px;
    margin-top: 400px;
}
#feature-title{
    font-size: 2.4rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
/* Habits styles */
.habits-container{
    width: 1044px;
    margin-left: 198px;
}
.habits-info{
    text-align: center;
}
.habits-title{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0;
}
.card-container{
    margin-top: 58px;
    text-align: center;
    gap: 40px   ;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.card-container img{
    border-radius: 50%;
}
/* run styles */
.run{
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
    width: 1080px;
    height: 370px;
    margin-left: 198px;
    margin-top: 100px;
    gap: 165px;
    justify-content: space-between;
    align-items: center;
    
}
.run-info{
    width: 443px;
    height: 290px;
    margin: 40px auto;
    margin-left: 54px;
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    margin: auto;
}
.run-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 34px;
}
.run-img img{
    width: 360px;
    height: 300px;
    border-radius: 18px;
    margin-right: 32px;
}
/* active */
.active{
    margin-top: 100px;
    margin-left: 193px;
}
.active-info{
    width: 671px;
    margin-right: ;
}
.active-description{
    font-size: 1rem;
    font-weight: 400;
}
.active-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}
/* BMI Calculator */
.bmi
{
    width: 1440px;
    height: 600px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.bmi-container
{
    
    text-align: center;
}

.bmi-title
{
    font-size: 3rem;
    margin-bottom: 10px;
}

.bmi-description
{
    font-size: 1.2rem;
    margin-bottom: 30px;
    
}

.bmi-calculator
{
    background-color:#333;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bmi-chart, .bmi-form
{
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
}

.bmi-chart-title
{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bmi-table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td
{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
    opacity: 0.5;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 34px;
}

input
{
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
}

.bmi-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

@media screen and (max-width: 576px){
    .navbar,
    .nav-Buttons,
    .banner-container,
    .card-container,
    .run,
    .bmi-calculator{
      flex-direction: column;
      align-items: center;
    }
    .banner-container{
        flex-wrap: wrap;
    }
    .navbar{
        width: 0;
        margin-left: 0;
        align-items: start;
    }
    body,
    .navbar,
    .banner-container,
    .habits-container,
    .run,
    .run-info,
    .run-img,
    .active{
        margin: 0 auto;
        gap: 0;
    }
    .nav-Buttons{
        display: none;
    }
    body,
    .navbar,
    .banner-info,
    .habits-container,
    .banner-img img,
    .run,
    .run-info,
    .bmi{
        width: 100%;
    }
    .brand{
        margin: 0;
        font-size: 2rem;
        font-weight: 800;
        font-style: italic;
    }
    /* .hamburger{
        
    } */
    /* .hamburger span{
        display: block;
        height: 3px;
        background-color: 2px	Middle
        rgb(255, 255, 255);
        border-radius: 3px;
    } */
    .buttons{
        display: flex;
        justify-content: space-evenly;
    }
    .feature-badge-500{
        scale: .75;
        position: absolute;
        margin-left: -190px;
    margin-top: 100px;
    }
    .feature-badge-three{
        scale: .75;
        position: absolute;
        margin-left: -350px;
        margin-top: 340px;
    }
    .banner-title{
        margin-top: 5px ;
        font-size: 2.2rem;
    }
    .shape{
        font-size: 2.5rem;
    }
    .banner-description{
        width: 400px;
    }
    /* habits */
    .habits{
        margin-top: 200px;
    }
    .run{
        width: 345px;
        height: 531px;
        padding: 31px 33px 31px 35px;
        align-items: center;
        margin-bottom: 35px;
    }
    .run-info{
        width: 287px;
    }
    .run-description{
        margin-bottom: 10px;
    }
    .run-btn{
        text-align: center;
        align-items: center;
        width: 207px;
        margin-top: 0 auto;
    }
    .run-img img{
        width: 287px;
        height: 170px;
        margin-top: 80px;
    }
    /* active */
    
    .active-description{
        width: 330px;
    }
    .video-link iframe{
        width: 100%;
        height: auto;
        aspect-ratio: 11/7;
        align-items: center;
    } 
    .bmi{
        margin-top: 200px;
    }
}